[Unit]
Description=XServer Dummy

[Service]
Restart=always
Type=simple
WorkingDirectory=/root
ExecStart=/usr/bin/X :0
ExecStop=

[Install]
WantedBy=default.target
